# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.whl

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Django
db.sqlite3
*.pot
*.pyc
*.log
.migrations/

# Node.js
node_modules/
build/
*.lock

# Environment variables
.env

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Other
*.pkl
*.pickle